.content {
	padding: 3rem;
	margin-top: 20vh;
	display: flex;
	position: relative;
	flex-direction: column;
	align-content: center;
	justify-content: space-between;
}

.content__text {
	font-size: 40px;
	line-height: 1.5;
	max-width: 800px;
}

.content__text--centered {
	margin: auto;
}

.content__text--green {
	color: var(--color-green);
	font-weight: bold;
}
