.explain__container {
	padding-top: 64px;
	display: flex;
	flex-direction: row;
	row-gap: 48px;
	flex-wrap: wrap;
}

.explain {
	display: flex;
	padding-left: 8vw;
	background: linear-gradient(245.28deg, #0f4815 5.34%, #0a0a0a 71.67%);
}

.flex__col {
	display: flex;
	flex-direction: column;
	padding-top: 128px;
}

.flex__col h2 {
	font-size: 64px;
	font-family: Alegreya, serif;
	font-weight: 700;
	max-width: 600px;
	padding-bottom: 40px;
}

.explain__desc {
	display: flex;
	flex-direction: column;
	row-gap: 32px;
	width: 80%;
}

.explain__desc p {
	font-family: 'Inter', sans-serif;
	font-size: 24px;
	line-height: 1.5;
}

.explain__container div {
	flex-grow: 1;
}

.explain__container div p {
	font-family: 'Inter', sans-serif;
	font-size: 20px;
	max-width: 300px;
	line-height: 1.5;
}

.icon-eclair {
	margin-bottom: 1rem;
}

.icon-bluetooth {
	margin-bottom: 1.94rem;
}

.explain h3 {
	font-family: 'Inter', sans-serif;
	font-size: 20px;
	font-weight: 800;
	margin-bottom: 20px;
}

.phone {
	position: absolute;
	z-index: 10;
	bottom: 0px;
	left: -40px;
	width: 20rem;
	object-fit: cover;
}

.col2 {
	position: relative;
}

.green {
	color: #1db92d;
}

@media screen and (max-width: 1420px) {
	.image {
		display: none;
	}

	.explain {
		flex-direction: column;
		row-gap: 48px;
		align-items: center;
	}

	.phone {
		position: static;
	}
}
