.advantages {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 48px;
	margin-top: 200px;
	margin-bottom: 100px;
}

.advantages__title {
	font-size: 28px;
	margin-bottom: 25px;
}

.advantages__descr {
	line-height: 1.5;
	font-size: 20px;
}

.advantages__item svg {
	fill: #1db92d;
	height: 32px;
	width: 32px;
	margin-bottom: 15px;
}

@media screen and (max-width: 1210px) {
	.advantages {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media screen and (max-width: 720px) {
	.advantages {
		grid-template-columns: repeat(1, 1fr);
	}
}
